#include <boost/test/tools/old/interface.hpp>
#define BOOST_TEST_MODULE error_test
#include <boost/test/unit_test.hpp>
#include <error.h>

BOOST_AUTO_TEST_CASE(ec_create) {
  project_name::error_code ec = make_error_code(project_name::project_name_errc::unknown);
  BOOST_CHECK_EQUAL(ec.value(), static_cast<int>(project_name::project_name_errc::unknown));
}

BOOST_AUTO_TEST_CASE(ec_test_against_errc) {
  project_name::error_code ec = make_error_code(project_name::project_name_errc::unknown);
  BOOST_CHECK(ec == project_name::project_name_errc::unknown);
}
